{% load crispy_forms_tags %}
{% load static %}
<div id="divid">
    <div style="height:300px; overflow-y:scroll;">
<table class="table table-hover mx-auto mt-5" style="background-color:white; width:60%;" id="codes_table" >
    <thead class="sticky-top bg-light">
    <tr>
        <th scope="col">Code</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Is Primary COD</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
  {% if codes_size > 0 %}
  {% for code in existing_codes %}
    <tr>
      <th scope="row">{{code.code}}</th>
      <td>{{code.description}}</td>
        <td>{{code.type}}</td>
        {% if code.is_primary %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}
        <td><form style="display:inline-block" id="deleteForm" hx-post="{% url 'deathrr:delete_deceased_code' pk code.id %}" method="post" hx-target="#divid"> {% csrf_token %} <button class="btn btn-danger">Delete</button></form></td>
    </tr>
  {% endfor%}
  {% else %}
  <tr>
    <td>No codes have been added yet</td>
  </tr>
  {% endif %}
</table>
        </div>
<form method="post" id="add-code-form">
    <div class="d-flex flex-row" style="margin-left:20%">
        <div class="p-2">{{new_code_form.code_id|as_crispy_field}}</div>
        <div class="p-5" style="margin-top:3px;">{{new_code_form.is_primary|as_crispy_field}}</div>
        <div class="p-5 mb-5" style="margin-right:40px;"><button class="btn btn-success" type="submit" form="add-code-form" name="add_codes_btn" hx-trigger="click" hx-post="{% url 'deathrr:add_code' pk %}" hx-target="#codes_list">Add</button></div>
    </div>
</form>

<!--    <div class="mt-4 mb-4">-->
<!--            <label id="invalid_code_lable" style="color:red;" hidden>Invalid Code Entered.</label>-->
<!--            <label for="code_text" >Enter code manually:</label>-->
<!--&lt;!&ndash;            <input id="code_text" value="{{ filter_text }}" name="code_text" hx-trigger="blur" hx-get="{% url 'deathrr:find_and_add_code' %}" hx-on="htmx:afterRequest: handleResponse">&ndash;&gt;-->
<!--            <input id="code_text" value="{{ filter_text }}" name="code_text">-->

<!--    </div>-->
    <script>
        document.getElementById("code_text").addEventListener("blur", function() {
            const enteredCode = document.getElementById("code_text").value;
            fetch("{% url 'deathrr:find_and_add_code' %}?code_text=" + encodeURIComponent(enteredCode))
                .then(response => response.json())
                .then(data => {
                    // Handle the response from the server
                    if (data.code_ien != -1) {
                        document.getElementById("code_text").style.color = "green";
                        alert(data.code_ien);
                    } else {
                        document.getElementById("code_text").style.color = "red";
                        console.log("The code is invalid.");
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        });
    </script>

</div>