{% extends 'base.html' %}

{% block title %}
Password Changed Successful
{% endblock %}

{%block content %}
    <h1 class="text-center">Password Change Successful!</h1>
    <h5 class="text-center">Your password has been successfully changed.</h5>
    <p class="text-center">Redirecting you to the login page...</p>
    <script type="text/javascript">
        setTimeout(function() {
            window.location.href = "{% url 'deathrr:home' %}";  // Replace 'target_view' with the name of the view you want to redirect to
        }, 6000); // 6 seconds
    </script>
{% endblock %}